.skill {
  height: auto;

  &__box {
    max-width: 700px;
    margin: auto;
  }
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 10rem;
    & > div {
      font-size: inherit;
      font-family: var(--font-family-FuturaNow);
      span {
        font-size: 5rem;
        line-height: 1;
        font-family: var(--font-family-FuturaNow);
      }
      .title-line {
        position: relative;
        &:after {
          position: absolute;
          bottom: -5px;
          left: 0;
          content: '';
          display: block;
          width: 0;
          height: 5px;
          background-color: #f67c5b;
          opacity: 0;
          transition: all 0.3s ease-in-out;
        }
        &.active {
          &:after {
            opacity: 1;
            width: 100%;
          }
        }
      }
    }
  }
  &__content {
    & > h3 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 10rem);
    margin-bottom: 5rem;
    gap: 5rem;
    justify-items: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10rem;
      height: 10rem;
      border-radius: 1rem;
      h3 {
        font-size: 2rem;
        font-weight: 600;
        color: #fff;
      }
    }
  }
}

@media (max-width: 1200px) {
  .skill {
    &__title {
      font-size: 4rem;
      margin-bottom: 5rem;
    }
    &__list {
      &-text {
        h3 {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .skill {
    &__title {
      font-size: 3rem;
    }
    &__content {
      & > h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 7rem);
      gap: 1rem;
      margin-bottom: 2rem;

      &-item {
        width: 7rem;
        height: 7rem;
        h3 {
          font-size: 1.5rem;
          font-weight: 600;
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .skill {
    &__title {
      font-size: 1.5rem;
      & > div {
        font-size: 2rem;
        span {
          font-size: 2.5rem;
        }
        .title-line {
          font-size: 2.5rem;
        }
      }
    }
    &__content {
      & > h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 5rem);
      gap: 1rem;

      &-item {
        width: 5rem;
        height: 5rem;
        h3 {
          font-size: 1rem;
          font-weight: 600;
          color: #fff;
        }
      }
    }
  }
}
