.visual {
  margin-top: 0;
  height: calc(100svh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: max(3rem, 5cqi);
  }
  &__title {
    display: flex;
    gap: 1rem;
    span {
      font-size: max(3rem, 6cqi);
      font-family: var(--font-family-FuturaNow);
      line-height: 1;
      letter-spacing: -0.05em;
      opacity: 0;
    }
    &.title-bottom {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      span {
        width: max-content;
      }
    }
  }
  &__skill {
    display: flex;
    gap: 1rem;
    width: 100%;
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: inherit;
      will-change: transform, opacity;
      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: clamp(6rem, 100%, 14cqi);
        aspect-ratio: 1/1;
        border-radius: 1rem;
        box-shadow: var(--box-shadow-primary);
        opacity: 0;
        span {
          font-size: max(1.5rem, 3cqi);
          font-weight: var(--font-weight-bold);
        }
      }
    }
    &-js {
      background-color: #f0db4f;
      transform: rotate(2deg);
    }
    &-ts {
      background-color: #3178c6;
      transform: rotate(-3deg);
    }
    &-vue {
      background-color: #41b883;
      transform: rotate(6deg);
    }
    &-nuxt {
      background-color: #00c581;
      transform: rotate(-9deg);
    }
  }
  &__scene {
    position: absolute;
    bottom: 0;
  }
  &__flag {
    display: flex;
    gap: 1rem;
    width: 100%;
    .flag-item {
      display: flex;
      justify-content: center;
      align-items: center;

      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: inherit;
        padding: 1rem;
        span {
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .visual {
    &__title {
      span {
        font-size: max(5rem, 4cqi);
      }
    }
  }
}

@media (max-width: 1024px) {
  .visual {
    &__box {
      gap: max(10rem, 10cqi);
    }
  }
}

@media (max-width: 768px) {
  .visual {
    &__title {
      span {
        font-size: max(3rem, 4cqi);
      }
    }
  }
}
