/* FuturaNowHeadline */
@font-face {
  font-family: 'FuturaNowHeadline';
  font-weight: 900;
  font-display: swap;
  src: url('../font/FuturaNowHeadlineBlack.woff') format('woff');
}

@font-face {
  font-family: 'FuturaNowHeadline';
  font-weight: 700;
  font-display: swap;
  src: url('../font/FuturaNowHeadlineBold.woff') format('woff');
}
@font-face {
  font-family: 'FuturaNowHeadline';
  font-weight: 500;
  font-display: swap;
  src: url('../font/FuturaNowHeadlineMedium.woff') format('woff');
}
@font-face {
  font-family: 'FuturaNowHeadline';
  font-weight: 400;
  font-display: swap;
  src: url('../font/FuturaNowHeadlineLight.woff') format('woff');
}
