#layout {
  height: 100vh;
}

.section {
  margin-top: 15rem;
  height: 800px;
  position: relative;
  .inner {
    max-width: 1920px;
    margin: 0 auto;
  }
}

/*flex*/
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/*width*/
.w-50 {
  width: 50%;
}
